body {background-color: green; opacity: .9;}

h1 {font-family: 'Raleway', sans-serif;}


.navlist {
    background-color: white;
    overflow: hidden;}

.navlist a {
    float: left;
    display: block;
    color: green;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;}

.navlist a.active {
    background-color: white;
  color: red;}

.email {border: solid 1px; 
  text-decoration: none;
  color: green;
  padding: 10px;
  background: white;
  height: 20px;
  width: 150px;}

.email:hover {border: solid 1px; 
  text-decoration: none;
  color: white;
  padding: 10px;
  background: green;
  height: 20px;
  width: 150px;}

#list {font-family: 'Raleway', sans-serif;}

img.homeimages {height: 200px;
  width: 200px;
border-radius: 10px;
margin: 10px;}
